<footer class="footer">
  <div class="container">
    <div class="footer-content">

      <div class="logo-text">
        <div class="logotypes">
          <img class="footer-logo" src="../images/logo.svg" alt="" />
          <div class="social-logo">
            <a href="https://www.facebook.com/goITclub/ ">
              <svg class="social-item">
                <use xlink:href="../images/sprites-socials.svg#facebook"></use>
              </svg>
            </a>
            <a href="https://www.instagram.com/goitclub/ ">
              <svg class="social-item">
                <use xlink:href="../images/sprites-socials.svg#instagram"></use>
              </svg>
            </a>
            <a href="https://www.youtube.com/c/GoIT">
              <svg class="social-item">
                <use xlink:href="../images/sprites-socials.svg#youtube"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="footer-text">
          <h2>
            Transforming your <span class="italic">body</span> shape with us
          </h2>
        </div>
      </div>

      <form class="subscribe-form">
        <p>Subscribe and learn about new exercises!</p>
        <input type="email" placeholder="Email" />
        <button type="submit">Send</button>
      </form>
    </div>

    <div class="footer-bottom">
      <p>Your Energy. All rights reserved.</p>
      <span class="copyright-container">
        <p><a href="#">Privacy Policy</a> / <a href="#">Terms of Service</a></p>
        <p class="copyright-mark">&copy;2023</p></span
      >
    </div>
  </div>
</footer>
