<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="logo-text">
        <div class="logotypes">
          <a href="/" class="home-link" id="scroll-to-top">
            <svg class="footer-logo">
              <use xlink:href="./images/sprite-footer.svg#icon-logo"></use>
            </svg>
          </a>

          <ul class="social-links">
            <li>
              <a
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-item">
                  <use xlink:href="./images/sprite-footer.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-item">
                  <use xlink:href="./images/sprite-footer.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-item">
                  <use xlink:href="./images/sprite-footer.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="footer-text">
          <h2>
            Transforming your <span class="italic">body</span> shape with us
          </h2>
        </div>
      </div>

      <form class="subscribe-form">
        <p>Subscribe and learn about new exercises!</p>
        <input type="email" placeholder="Email" />
        <button type="submit">Send</button>
      </form>
    </div>

    <div class="footer-bottom">
      <p>Your Energy. All rights reserved.</p>
      <span class="copyright-container">
        <p>
          <a
            class="website-documents"
            href="https://drive.google.com/file/d/1R1sI8bcoRlK3mRB-ZjMoA0WBjP6YgjIl/view?usp=sharing"
            target="_blank"
            >Privacy Policy</a
          >
          /
          <a
            class="website-documents"
            href="https://drive.google.com/file/d/1wmn_Ba7WEnE5mHtFBiI2FFBnH8cUlqjL/view?usp=sharing"
            target="_blank"
            >Terms of Service</a
          >
        </p>
        <p class="copyright-mark">&copy;2023</p>
      </span>
    </div>
  </div>
</footer>
