<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="logo-text">
        <div class="logotypes">
          <a
            href="/"
            class="home-link"
            id="scroll-to-top"
            aria-label="Button scroll to top"
          >
            <svg class="footer-logo">
              <use xlink:href="./images/sprite.svg#icon-logo"></use>
            </svg>
          </a>

          <ul class="social-links">
            <li>
              <a
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Facebook"
              >
                <svg class="social-item">
                  <use xlink:href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Instagram"
              >
                <svg class="social-item">
                  <use xlink:href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Youtube"
              >
                <svg class="social-item">
                  <use xlink:href="./images/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="footer-text">
          <h2>
            Transforming your <span class="italic">body</span> shape with us
          </h2>
        </div>
      </div>

      <form class="subscribe-form">
        <p>Subscribe and learn about new exercises!</p>
        <input type="email" placeholder="Email" />
        <button type="submit" aria-label="Button send">Send</button>
      </form>
    </div>

    <div class="footer-bottom">
      <p>Your Energy. All rights reserved.</p>
      <div class="copyright-container">
        <div>
          <a
            class="website-documents"
            href="https://drive.google.com/file/d/1R1sI8bcoRlK3mRB-ZjMoA0WBjP6YgjIl/view?usp=sharing"
            target="_blank"
            aria-label="Privacy Policy"
            >Privacy Policy
          </a>
          /
          <a
            class="website-documents"
            href="https://drive.google.com/file/d/1wmn_Ba7WEnE5mHtFBiI2FFBnH8cUlqjL/view?usp=sharing"
            target="_blank"
            aria-label="Terms of Service"
            >Terms of Service
          </a>
        </div>
        <p class="copyright-mark">&copy;2023</p>
      </div>
    </div>
  </div>
  <button class="scroll-to-top" type="button" aria-label="Scroll to top">
    <svg
      class="scroll-to-top-icon"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M21.0971 5.05383L3.04593 23.105L1.12549 21.1845L19.1766 3.13339H1.12549L1.12549 0.41748L23.813 0.41748L23.813 23.105H21.0971L21.0971 5.05383Z"
        stroke-width="0.3"
      />
    </svg>
  </button>
</footer>
