<div class="fitness-hero-content">
  <div class="fitness-hero-text-wrapper">
    <div class="fitness-hero-box">
      <h1 class="fitness-hero-title">
        Get <em>Body</em> in <br />shape, Stay healthy
      </h1>
      <p class="fitness-hero-text">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>
    <div class="hero-desktop-container">
      <div class="hero-bgi-desktop"></div>
      <div class="hero-tags-desktop">
        <span class="hero-tag-desktop">#Sport</span>
        <span class="hero-tag-desktop">#Healthy</span>
        <span class="hero-tag-desktop">#Workout</span>
        <span class="hero-tag-desktop">#Diet</span>
      </div>
    </div>
  </div>
  <div class="hero-background-img"></div>
  <div class="hero-mob-container">
    <div class="hero-tags">
      <span class="hero-tag">#Sport</span>
      <span class="hero-tag">#Healthy</span>
      <span class="hero-tag">#Workout</span>
      <span class="hero-tag">#Diet</span>
    </div>
  </div>
</div>
