<section class="fitness-hero-section">
  <div class="container">
    <div class="fitness-hero-content">
      <div class="fitness-hero-text-wrapper">
        <div class="fitness-hero-box">
          <h1 class="fitness-hero-title">
            Get <em>Body</em> in <br />shape, Stay healthy
          </h1>
          <p class="fitness-hero-text">
            Transform your physique and embrace a healthier lifestyle with our
            comprehensive fitness and nutrition support.
          </p>
        </div>
        <div class="hero-desktop-container">
          <div class="hero-bgi-desktop"></div>
          <div class="hero-tags-desktop">
            <a
              href="https://www.instagram.com/explore/tags/sport/"
              target="_blank"
              class="hero-tag-desktop"
              >#Sport</a
            >
            <a
              href="https://www.instagram.com/explore/tags/healthy/"
              target="_blank"
              class="hero-tag-desktop"
              >#Healthy</a
            >
            <a
              href="https://www.instagram.com/explore/tags/workout/"
              target="_blank"
              class="hero-tag-desktop"
              >#Workout</a
            >
            <a
              href="https://www.instagram.com/explore/tags/diet/"
              target="_blank"
              class="hero-tag-desktop"
              >#Diet</a
            >
          </div>
        </div>
      </div>
      <div class="hero-background-img"></div>
      <div class="hero-mob-container">
        <div class="hero-tags">
          <a
            href="https://www.instagram.com/explore/tags/sport/"
            target="_blank"
            class="hero-tag"
            >#Sport</a
          >
          <a
            href="https://www.instagram.com/explore/tags/healthy/"
            target="_blank"
            class="hero-tag"
            >#Healthy</a
          >
          <a
            href="https://www.instagram.com/explore/tags/workout/"
            target="_blank"
            class="hero-tag"
            >#Workout</a
          >
          <a
            href="https://www.instagram.com/explore/tags/diet/"
            target="_blank"
            class="hero-tag"
            >#Diet</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
