<div class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="modal-close-btn">
      <svg class="close-icon" width="24" height="24" stroke="rgba(244, 244, 244, 1)">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-container">

        <!-- <div class="modal-info">
      <img class="exercise-img" src="${gifUrl}" alt="${name}" />
      <div class="modal-info-box">
        <h2 class="exercise-title">${name}</h2>
        <div class="exercise-rating">${rating}${starRatingMarkup}</div>
        <ul class="exercise-set">
          <li class="exercise-set-item"><h3 class="item-title">Target</h3><p class="item-description">${target}</p></li>
          <li class="exercise-set-item"><h3 class="item-title">Body Part</h3><p class="item-description">${bodyPart}</p></li>
          <li class="exercise-set-item"><h3 class="item-title">Equipment</h3><p class="item-description">${equipment}</p></li>
          <li class="exercise-set-item"><h3 class="item-title">Popular</h3><p class="item-description">${popularity}</p></li>
          <li class="exercise-set-item"><h3 class="item-title">Burned Calories</h3><p class="item-description">${burnedCalories}</p></li>
        </ul>
        <p class="exercise-description">${
          description || 'We hope you will enjoy it'
        }</p>
        <div class="btn-wrap">
            <button type="button" class="modal-btn" data-id="${_id}">
            Remove from favorites
            <svg width="18" height="18"><use href="./images/sprite.svg#icon-trash"></use></svg>
        </button>
        <button type="button" class="modal-btn rate-btn">Give a rating</button>
        </div>
    </div>
    </div> -->

    </div>
</div>
</div>


