<div class="pagination-container">
  <button class="pagination-btn" id="first-btn">
    <span class="first button-content">&laquo;</span>
  </button>
  <button class="pagination-btn" id="prev-btn">
    <span class="prev button-content">&lsaquo;</span>
  </button>
  <div class="pages-wrapper" id="page-info"></div>
  <button class="pagination-btn" id="next-btn">
    <span class="next button-content">&rsaquo;</span>
  </button>
  <button class="pagination-btn" id="last-btn">
    <span class="last button-content">&raquo;</span>
  </button>
</div>
