<div class="quote-container {=$page}">
  <ul class="quote-list {=$page}">
    <li class="quote-item quote-text-item {=$page}">
      <div class="quote-icon-wrapper">
        <svg class="quote-item-icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-run-man"></use>
        </svg>
      </div>

      <div class="quote-main-info">
        <h2 class="quote-title">Quote of the day</h2>
        <div class="quote-icon">
          <svg class="quote-item-icon quote-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-quote"></use>
          </svg>
        </div>
        <div class="quote-info {=$page}">
          <p class="quote-text js-qofd">
            A lot of times I find that people who are blessed with the most
            talent don't ever develop that attitude, and the ones who aren't
            blessed in that way are the most competitive and have the biggest
            heart.
          </p>
          <p class="quote-author">Tom Brady</p>
        </div>
      </div>
    </li>
    <li class="quote-item quote-img-item {=$page}">
      <picture>
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/quote/{=$img-name}@x1.webp 1x,
            ./images/quote/{=$img-name}@x2.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ../images/quote/{=$img-name}@x1.png 1x,
            ../images/quote/{=$img-name}@x2.png 2x
          "
          type="image/png"
        />
        <img
          src="../images/quote/{=$img-name}@x1.png"
          alt="Women sportswear talking"
          width="492"
          height="242"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="quote-item quote-text-item {=$page}">
      <div class="quote-icon-wrapper icon-wrap-dark {=$page}">
        <svg class="quote-item-icon {=$page}" width="16" height="12">
          <use href="./images/sprite.svg#icon-dumbbells"></use>
        </svg>
      </div>
      <div class="quote-main-info">
        <h3 class="news-title">110 min</h3>
        <p class="news-description">Daily norm of sports</p>
        <p class="news-text multiline-truncated {=$page}">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day? While it might seem like a high number to hit,
          dedicating 110 minutes daily to sporting activities may offer
          unparalleled benefits to physical health, mental well-being, and
          overall quality of life.
        </p>
      </div>
    </li>
  </ul>
</div>
