<div class="rate-backdrop is-hidden">
  <div class="modal">
    <button type="button" class="rate-modal-close-btn">
      <svg class="close-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form class="rate-modal-container rate-modal-form">
      <p class="rate-stars-name">Rating</p>
      <div class="rate-modal-stars-wrapper">
        <span class="rate-modal-selected-value"></span>
        <ul class="rate-modal-stars"></ul>
      </div>
      <input
        type="email"
        name="email"
        class="rate-modal-email"
        placeholder="Your email"
      />
      <textarea
        class="rate-modal-comment"
        name="review"
        placeholder="Your comment"
        rows="4"
      ></textarea>
      <button type="submit" class="rate-modal-submit-btn">Submit</button>
    </form>
  </div>
</div>
