.fav .quote-exercises-container {
  margin-top: 20px;
}

.fav .exercises-container {
  position: relative;
}

.favorites {
  padding: 16px;
  padding-top: 0;
}
.exercises-card.is-favourite:hover {
  -webkit-box-shadow: 9px 14px 63px -41px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 14px 63px -41px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 14px 63px -41px rgba(0, 0, 0, 0.75);
}

.card-set {
  display: grid;
  row-gap: 20px;
  column-gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}
.quote-exercises-container .favorites:has(.not-exist) {
  align-self: center;
}

.favorites.not-exist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-exist {
  text-align: center;
  font-size: 14px;
  color: var(--black);
}
.fav .quote-exercises-container {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .fav .quote-exercises-container {
    flex-direction: column;
    margin-top: 32px;
    margin-top: 32px;
  }

  .card-set {
    grid-template-columns: repeat(2, 1fr);
  }

  .not-exist {
    font-size: 18px;
    max-width: 554px;
  }
}

@media screen and (min-width: 1440px) {
  .favorites {
    max-height: 520px;
    overflow-y: auto;
    overflow-x: hidden;
    /* scrollbar-color: var(--black) rgba(36, 36, 36, 0.1); */
  }
  .favorites-section.card-set {
    row-gap: 32px;
  }
  .fav .quote-exercises-container {
    flex-direction: row;
  }
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}
