.card-set {
  display: grid;
  row-gap: 20px;
  column-gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}

.not-exist {
  padding-top: 20px;
  width: 318px;
  text-align: center;
  font-size: 14px;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .quote-exercises-container {
    flex-direction: column;
    align-items: center;
  }

  .card-set {
    grid-template-columns: repeat(2, 1fr);
  }

  .not-exist {
    font-size: 18px;
    width: 554px;
    padding-top: 132px;
  }
}

@media screen and (min-width: 1440px) {
  .favorites {
    max-height: 485px;
    overflow-y: scroll;
    scrollbar-color: var(--black) var(--black);
  }

  .quote-exercises-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .not-exist {
    padding-top: 0px;
  }
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;

  @media screen and (min-width: 768px) {
    max-width: 272px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 100%;
  }
}