.main-filters-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-exercises-breadcrumbs {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-exercises-title {
  margin-right: 8px;
}

.main-exercises-title,
.main-breadcrumb-title {
  color: var(--black);
  font-family: 'DM Sans';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;

  letter-spacing: -0.56px;
}

.main-breadcrumb-title span {
  color: rgba(36, 36, 36, 0.5);
  font-family: 'DM Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.4px;
  text-transform: capitalize;
}

.search-container {
  position: relative;
  margin-bottom: 20px;
}

.search-exercises {
  display: block;
  padding: 12px 14px;
  padding-right: 30px;
  width: 100%;

  border-radius: 30px;
  min-width: 208px;
  border: 1px solid var(--black);
  background-color: transparent;

  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  outline: none;
}

.search-exercises::placeholder {
  color: var(--black);
}

.main-exercises-links {
  padding-bottom: 10px;
  display: flex;
  gap: 20px;
}
.main-exercises-links .filter-link {
  position: relative;
  color: var(--text-grey-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  flex-shrink: 0;
}

.main-exercises-links a.active {
  color: var(--black);
}

.main-exercises-links a.active:before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--black);
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}

@media screen and (min-width: 768px) {
  .main-filters-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-exercises-title,
  .main-breadcrumb-title {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -0.88px;
  }

  .main-breadcrumb-title span {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.48px;
  }

  .search-container {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .search-exercises {
    width: unset;
  }
}

@media screen and (min-width: 1440px) {
  .main-filters-container {
    width: unset;
    align-items: center;
  }

  .main-exercises-breadcrumbs {
    width: unset;
  }
}
