.footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 45px 0px 10px 0px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  text-align: center;
}

.logotypes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  width: 132px;
  height: 14px;
  fill: var(--white);
}

.footer-logo:hover {
  fill: var(--secondary-white);
}
.social-links {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 12px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--inactive-socials);
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.social-item {
  fill: var(--white);
  width: 28px;
  height: 28px;
}

.social-links a:hover {
  background: var(--white);
  fill: var(--black);
}

.social-links a:hover .social-item {
  fill: var(--black);
}

.footer-text {
  margin-top: 40px;
}

.footer-text h2 {
  font-weight: 400;
  font-size: 38px;
  line-height: 116%;
  letter-spacing: -0.02em;

  text-align: start;
}

.footer-text .italic {
  font-style: italic;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 335px;

  margin-top: 20px;
}

.subscribe-form p {
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
}

.subscribe-form input {
  border: 1px solid var(--white);
  border-radius: 30px;
  padding: 12px 14px;

  width: 100%;
  max-height: 42px;
  box-sizing: border-box;

  background: var(--black);

  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--text-grey-primary);
}

.subscribe-form button {
  border-radius: 30px;
  padding: 12px 24px;

  max-height: 42px;
  border: none;

  background: var(--white);

  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--black);
}

.subscribe-form button:hover {
  background: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
}

.footer-bottom {
  margin-top: 120px;
}

.footer-bottom p {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--secondary-white);
  opacity: 0.9;
}

.footer-bottom a {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--secondary-white);
}

.website-documents:hover {
  color: var(--white);
}

.copyright-container {
  display: flex;
  gap: 79px;
}

.copyright-mark {
  text-align: end;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  .footer {
    padding: 64px 0px 16px 0px;
  }

  .footer-content {
    display: block;
  }

  .logo-text {
    display: flex;
    flex-direction: row;
  }

  .social-links a {
    width: 44px;
    height: 44px;
  }

  .footer-text {
    margin-top: 0px;
    font-weight: 400;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: -0.02em;

    margin-left: 114px;
  }

  .footer-text h2 {
    width: 270px;
  }

  .subscribe-form {
    max-width: 352px;
    margin-left: 270px;
  }

  .subscribe-form p {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
  }

  .subscribe-form input {
    max-height: 48px;
    width: 100%;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .subscribe-form button {
    border-radius: 30px;
    padding: 12px 157px;
    max-height: 48px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;

    max-width: 352px;
  }

  .footer-bottom {
    display: flex;
    gap: 78px;
    margin-top: 64px;
  }
  .copyright-container {
    gap: 176px;
  }
}

/* Desktop Styles */

@media only screen and (min-width: 1440px) {
  .footer {
    padding: 64px 0px 16px 0px;
  }
  .logo-text {
    display: flex;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
  }

  .logo-text {
    display: flex;
    flex-direction: row;
  }

  .footer-text {
    margin-top: 0px;
    margin-left: 158px;
  }

  .footer-text h2 {
    min-width: 595px;

    font-weight: 400;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: -0.02em;
  }

  .subscribe-form {
    max-width: 352px;
    margin-left: 115px;
    margin-top: 0;
  }

  .subscribe-form p {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
  }

  .subscribe-form input {
    max-height: 48px;
    width: 100%;
    font-size: 16px;
    line-height: 150%;
  }

  .subscribe-form button {
    max-width: 352px;
    max-height: 48px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border-radius: 30px;
    padding: 12px 157px;
  }

  .footer-bottom p {
    display: flex;
    gap: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--secondary-white);
    opacity: 0.9;
  }

  .footer-bottom a {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: right;
    color: var(--secondary-white);
  }

  .footer-bottom {
    display: flex;
    gap: 122px;
    margin-top: 70px;
  }

  .copyright-container {
    gap: 498px;
  }
}

.scroll-to-top {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #242424;
  border: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top-icon {
  fill: #f4f4f4;
  width: 13px;
  height: 13px;
}

@media screen and (min-width: 768px) {
  .scroll-to-top {
    height: 100px;
    width: 100px;
  }
  .scroll-to-top-icon {
    width: 33px;
    height: 33px;
  }
}
