.quote-exercises-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
}

.main-exercises-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 55px;
  gap: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .main-exercises-nav {
    gap: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .quote-exercises-container {
    flex-direction: row-reverse;
  }
  .main-exercises-nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
