.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pages-wrapper {
  display: flex;
  gap: 8px;
}

.pagination-btn {
  border: 1px solid transparent;
  background-color: unset;
  font-size: 24px;
  line-height: 1;
  color: #d4d4d4;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pagination-btn.active,
.pagination-btn:hover {
  color: #242424;
  border-color: #333;
}

.pagination-btn:disabled {
  color: #ddd;
  cursor: not-allowed;
}

.button-content {
  display: block;
}

.button-content.first,
.button-content.last {
  margin-top: -5px;
  padding-left: 1px;
}

.button-content.next,
.button-content.prev {
  margin-top: -5px;
  padding-left: 4px;
}

.button-content.numbers {
  padding-left: 2px;
}

.button-content.numbers.large {
  padding-right: 4px;
}
