.quote-container {
  max-width: 335px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.quote-container.q-favorites {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .quote-container {
    max-width: 768px;
    margin-top: 64px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .quote-container {
    max-width: 444px;
    margin: 0;
  }
  .quote-container.q-favorites {
    max-width: 494px;
  }
}

.quote-list {
  display: flex;
  /* align-items: center; */
  align-items: stretch;
  flex-direction: column;
  gap: 20px;
}

.quote-item {
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  width: 100%;
}

.quote-item:nth-child(2).q-favorites {
  order: 3;
}

.quote-item:nth-child(3).q-favorites {
  order: 2;
}

.quote-item img {
  height: auto;
  object-fit: cover;
}
.quote-text-item {
  padding: 20px;
  padding-left: 70px;
  position: relative;
}

.quote-text-item.q-favorites {
  padding: 20px;
  padding-top: 55px;
}
.quote-item:nth-child(1).q-favorites {
  padding-top: 20px;
  padding-left: 72px;
}
.quote-item.q-favorites img {
  max-height: 119px;
  object-fit: cover;
}
.quote-list li:first-child {
  background-color: var(--color-black);
}
.quote-icon-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 32px;
  height: 32px;
  background-color: rgba(244, 244, 244, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.quote-icon-wrapper.q-favorites {
  background-color: transparent;
}

.icon-wrap-dark {
  background-color: var(--color-black);
}

.quote-item-icon {
  fill: var(--color-white);
}
.quote-item-icon.q-favorites {
  fill: var(--color-black);
}
.quote-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.quote-main-info {
  position: relative;
}
.quote-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.quote-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-white);
  margin-bottom: 6px;
}
.quote-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--color-descriptions);
  margin-bottom: 18px;
  word-wrap: break-word;
}
.quote-author {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--color-white);
}
.news-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-black);
  margin-bottom: 2px;
  text-align: left;
}
.news-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: rgba(36, 36, 36, 0.6);
  margin-bottom: 16px;
}
.news-text.q-favorites {
  display: none;
}
.news-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(----color-black);
}

@media screen and (min-width: 768px) {
  .quote-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
  }
  .quote-item {
    width: calc((100% - 24px) / 2);
  }
  .quote-item:nth-child(1).q-favorites {
    width: 100%;
  }
  .quote-item.quote-img-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quote-item img {
    object-fit: contain;
    max-width: none;
  }
  .quote-item.q-favorites img {
    max-width: 100%;
    object-fit: cover;
    max-height: 171px;
  }
  .quote-text-item {
    padding: 40px;
    padding-left: 90px;
  }
  .quote-text-item.q-favorites {
    padding: 25px;
    padding-top: 60px;
  }
  .quote-item:nth-child(1).q-favorites {
    padding: 40px;
    padding-left: 90px;
  }
  .quote-icon-wrapper {
    top: 40px;
    left: 40px;
  }
  .quote-item:nth-child(3).q-favorites .quote-icon-wrapper {
    top: 25px;
    left: 25px;
  }
  .quote-info {
    min-height: 157px;
  }
  .quote-info.q-favorites {
    min-height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .quote-list {
    flex-direction: column;
  }
  .quote-list.q-favorites {
    flex-direction: row;
  }
  .quote-item.q-home {
    width: 100%;
  }
  .quote-info.q-home {
    min-height: auto;
  }
  .quote-item img {
    max-width: 100%;
  }
}

.multiline-truncated {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  overflow: hidden;
}
