.rate-stars-name {
  color: rgba(244, 244, 244, 0.4);
  line-height: 12px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.rate-modal-selected-value {
  margin-right: 2px;
  color: #f4f4f4;
  line-height: 12px;
  line-height: 1.5;
}

.rate-modal-stars-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.rate-modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rate-modal-stars {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 2px;
}

.rate-modal-radio {
  display: none;
}

.rate-modal-label {
  cursor: pointer;
  display: block;
  line-height: 1;
  padding: 2px;
}

.rate-modal-stars:has(.rate-modal-radio:checked) .star-icon {
  stroke: transparent;
  fill: var(--gold);
}
.star-icon {
  display: block;
  width: 20px;
  height: 20px;
  stroke: transparent;
  fill: var(--star-grey);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Style for checked stars */
.rate-modal-star-item:has(.rate-modal-radio:checked)
  ~ .rate-modal-star-item
  .rate-modal-label
  .star-icon {
  stroke: transparent;
  fill: var(--star-grey);
}

.rate-modal-email,
.rate-modal-comment {
  display: block;
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--white);
  color: var(--text-grey-primary);
  background-color: transparent;
  font-size: 14px;
  font-family: inherit;
}

.rate-modal-email {
  border-radius: 30px;
  margin-bottom: 10px;
}

.rate-modal-comment {
  resize: none;
  border-radius: 15px;
  margin-bottom: 20px;
}

.rate-backdrop .modal {
  margin: 0;
  max-width: none;
  width: 100%;
  max-width: 335px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rate-modal-submit-btn {
  border-radius: 30px;
  padding: 12px 48px;
  border: none;

  background-color: var(--white);

  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--black);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid transparent;
}

.rate-modal-submit-btn:hover,
.rate-modal-submit-btn:focus {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
}

@media screen and (min-width: 768px) {
  .rate-modal-email,
  .rate-modal-comment {
    font-size: 16px;
  }

  .rate-backdrop .modal {
    max-width: none;
    width: 430px;
    padding: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .rate-modal-submit-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border-radius: 30px;
  }
  .rate-backdrop .modal {
    width: 430px;
  }
}

.rate-modal-close-btn svg {
  transition: stroke 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.rate-modal-close-btn:hover svg,
.rate-modal-close-btn:focus svg {
  stroke: var(--gold);
}
